:root {
	--main-color-1: #FC4100;
	--main-color-2: #FFC55A;
	--main-color-3: #00215E;
	--main-color-4: #2C4E80;
	--main-color-5: #FEFEFE;
}

body {
	font-family: "inter", sans-serif;
}

* {
	font-weight: 500;
}

.ds-logo {
	font-weight: bold;
	font-size: 1.25rem;
	color: #FEFEFE;
	padding: 0.5rem 1.5rem;
	text-decoration: none !important;
}

.ds-logo:hover {
	opacity: 0.8;
}

.ds-heading {
	font-weight: bold;
	font-size: 1.2rem;
	color: #FEFEFE;
	padding: 0.5rem 1.5rem;
	text-decoration: none !important;
}

.ds-bg-color-1 {
	background-color: var(--main-color-3);
}

.ds-text-white {
	color: #FEFEFE !important;
}

.ds-text-dark {
	color: var(--main-color-3) !important;
}

.ds-text-main-1 {
	color: var(--main-color-1) !important;
}

.ds-link {
	display: block;
	width: 100%;
	color: #FEFEFE;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
}

.ds-link:hover {
	text-decoration: underline;
}

.ds-container {
	margin-bottom: 50px;
}

.ds-nav {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5rem;
	background-color: var(--main-color-3);
}

.ds-main {
	display: flex;
	flex-direction: column;
	background-color: var(--main-color-5);
	padding: 0 1.5rem;
	align-items: center;
}

.ds-content {
	padding: 0 1.5rem;
}

.ds-tbl-row {
	cursor: pointer !important;
}

.ds-tbl-td {
	font-weight: 400;
}

.ds-icon-top {
	font-size: 2rem;
}

.ds-small-fs {
	font-size: 0.9rem !important;
}

.ds-w-28 {
	width: 32% !important;
}

.ds-sort-toggle-custom:hover {
	cursor: pointer;
	background-color: #eee;
}

.ds-w-xl {
	width: 90%;
}

.ds-nav-btn {
	color: #FEFEFE;
	background: none;
	border: none;
}

.ds-nav-btn:hover {
	color: var(--main-color-2);
	text-decoration: underline;
}

.ds-navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
}