<div class="ds-logo ds-text-dark pt-3 pb-3 mb-3 text-center">
	Thêm dữ liệu vào bảng dbo.tai_khoan
</div>

{% include '../common/message.html' %}

<form method="POST" action="/apps/q31/">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Họ</label>
        <input name="ho" class="form-control" value="{{form.ho}}" />
        <span class="text-danger fw-normal">{{ error.ho }}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Tên</label>
        <input name="ten" class="form-control" value="{{form.ten}}" />
        <span class="text-danger fw-normal">{{ error.ten }}</span>
    </div>
    {% comment %}
    <div class="mb-3">
        <label class="form-label">ID</label>
        <input type="number" name="id" class="form-control" />
        <span class="text-danger fw-normal">{{ error.id }}</span>
    </div>
    {% endcomment %}
    <div class="mb-3">
        <label class="form-label">Tên tài khoản</label>
        <input
            name="ten_tai_khoan"
            class="form-control"
            value="{{form.ten_tai_khoan}}"
        />
        <span class="text-danger fw-normal">{{ error.ten_tai_khoan }}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Mật khẩu</label>
        <input
            type="password"
            name="mat_khau"
            class="form-control"
            value="{{form.mat_khau}}"
        />
        <span class="text-danger fw-normal">{{ error.mat_khau }}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Số điện thoại</label>
        <input name="sdt" class="form-control" value="{{form.sdt}}" />
        <span class="text-danger fw-normal">{{ error.sdt }}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Giới tính</label>
        <select
            name="gioi_tinh"
            class="form-control"
            value="{{form.gioi_tinh}}"
        >
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
        </select>
        <span class="text-danger fw-normal">{{ error.gioi_tinh }}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input
            type="email"
            name="email"
            class="form-control"
            value="{{form.email}}"
        />
        <span class="text-danger fw-normal">{{ error.email }}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Ngày sinh</label>
        <input
            type="date"
            name="ngay_sinh"
            class="form-control"
            value="{{form.ngay_sinh}}"
        />
        <span class="text-danger fw-normal">{{ error.ngay_sinh }}</span>
    </div>
    <div class="text-end mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
