<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Delivery BK</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>

        <nav>
            {% comment %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            {% endcomment %}
        </nav>

        <main>
            {% comment %} {% block content %}
            <!-- This is where the content from child templates will be inserted -->
            {% endblock %} {% endcomment %}
            <ul>
                {% for acc in accounts %}
                    <li>{{ acc.ten }}</li>
                {% endfor %}
            </ul>
        </main>

        <footer>
            <p>&copy; 2024 Delivery BK</p>
        </footer>

        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
