<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">*</th>
            <th scope="col" class="ds-text-main-1">ID</th>
            <th scope="col">Tên món</th>
            <th scope="col">Giá</th>
            <th scope="col">Mô tả</th>
            <th scope="col">ID nhà hàng</th>
            <th scope="col">Số lượng đã đặt</th>
        </tr>
    </thead>
    <tbody>
        {% for row in foods %}
        <tr class="ds-tbl-row">
            <th scope="row" class="ds-tbl-td">{{ forloop.counter }}</th>
            <td class="ds-text-main-1 ds-tbl-td">{{ row.0 }}</td>
            <td class="ds-tbl-td">{{ row.1 }}</td>
            <td class="ds-tbl-td">{{ row.2 }}</td>
            <td class="ds-tbl-td">{{ row.3 }}</td>
            <td class="ds-tbl-td">{{ row.4 }}</td>
            <td class="ds-tbl-td">{{ row.5 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% comment %} <nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav> {% endcomment %}
