<div class="ds-nav py-2">
    <div class="ds-logo">Delivery BK</div>
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse me-3">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button
                        class="btn btn-outline-primary fw-medium"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Câu 3.1
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li>
                            <a class="dropdown-item fw-medium" href="/apps/q31/">Thêm</a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-medium" href="/apps/q31/edit/">Sửa</a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-medium" href="/apps/q31/del/">Xoá</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
		<div class="collapse navbar-collapse me-3">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    {% comment %} <button
                        class="btn btn-outline-primary fw-medium"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Câu 3.2
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li>
                            <a class="dropdown-item fw-medium" href="/apps/q32/">Danh sách</a>
                        </li>
                    </ul> {% endcomment %}
                </li>
            </ul>
        </div>
		<div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button
                        class="btn btn-outline-primary fw-medium"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Câu 3.3
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li>
                            <a class="dropdown-item fw-medium" href="/apps/q33/">Danh sách</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
